<style>
  thead {
    background-color: #f2f2f2;
  }
  th, td {
    padding: 4px;
  }
  h3 {
    margin-bottom: 10px;
  }
</style>

<div>
  <h3>User List</h3>
  <table>
    <thead>
      <tr>
        <th >ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
     </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                <button (click)="details(user)">Details</button>
                <button (click)="edit(user)">Edit</button>
                <button (click)="delete(user)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>